# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout.
*.js text eol=lf
*.jsx text eol=lf
*.css text eol=lf
*.html text eol=lf

# Declare binary files - these are not converted.
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary
*.mov binary
*.mp4 binary
